@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@OnDrawerToggle" />
        My Application
    </MudAppBar>
    <MudDrawer @bind-Open="@isDrawerOpened">
        <MudNavMenu>
            <MudText Typo="Typo.h6" Class="px-4">My Application</MudText>
            <MudDivider Class="my-2"></MudDivider>
            <MudNavLink Href="/">Home</MudNavLink>
            <MudNavGroup Title="Master" Expanded="true">
                <MudNavLink Href="/AccountInfoView">User Account</MudNavLink>
                <MudNavLink Href="/UserLevelRightView">User Level Right</MudNavLink>
            </MudNavGroup>
            <MudNavGroup Title="My Profile" Expanded="true">
            </MudNavGroup>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    public bool isDrawerOpened { get; set; } = true;

    public void OnDrawerToggle()
    {
        isDrawerOpened = !isDrawerOpened;
    }
}
